{% extends 'base.html.twig' %}

{% block addstyles %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/todolist.css') }}"/>
{% endblock %}

{% block content %}

    <h1 class="text-center">TO DO LIST</h1>
    <div class="todolist">
        <div class="container">
            <div class="row">
                <div class="">
                    <div class="col-sm-4 listBlock">
                        <h3>Add Item</h3>

                        <div class="">
                            <div class="form-group">
                                <input type="text" class="form-control" id="new-task">
                                <button id="add-task" type="submit" class="btn btn-success pull-right">Add</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 listBlock">
                        <h3>Todo</h3>
                        <div class="">
                            <ul id="incomplete-tasks">
                                <li class="task">
                                    <div class="checkbox">
                                        <input type="checkbox"><label> Go Shopping</label>
                                        <input type="text">
                                    </div>
                                    <button class="btn btn-info edit">Edit</button>
                                    <button class="btn btn-danger delete">Delete</button>
                                </li>
                                <li class="task">
                                    <div class="checkbox">
                                        <input type="checkbox"><label> Pay Bills</label>
                                        <input type="text">
                                    </div>
                                    <button class="btn btn-info edit">Edit</button>
                                    <button class="btn btn-danger delete">Delete</button>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-sm-4 listBlock">
                        <h3>Completed</h3>
                        <ul id="completed-tasks">
                            <li class="task">
                                <div class="checkbox">
                                    <input type="checkbox"><label> Remember me</label>
                                </div>
                                <button type="submit" class="btn btn-info edit">Edit</button>
                                <button type="submit" class="btn btn-danger delete">Delete</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block addscripts %}
    <script type="text/javascript" src="{{ asset('js/todolist.js') }}"></script>
{% endblock %}