{% extends 'base.html.twig' %}

{% block content %}
    <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}">Home</a></li>
        <li><a href="{{ path('portfolio') }}">Portfolio</a></li>
        <li class="active">Social</li>
    </ol>

    <h1 class="text-center">Social</h1>

    <div class="social">
        <div class="media">
            <div class="media-left text-center userControl">
                <a href="#">
                    <img class="img-circle" src="img/badges_Android_BuildASimple_Stage3.png" width="100" height="100"/>
                </a>
                <div class="row">
                    <div class="col-xs-6"></div>
                    <div class="col-xs-4 socialIcon">
                        <a href="javascript:void(0)"
                           class="btn btn-success btn-fab pull-right">
                            <i class="material-icons">add</i>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-offset-6 col-xs-4 socialIcon">
                        <a href="javascript:void(0)"
                           class="btn btn-success btn-fab pull-right">
                            <i class="material-icons">add</i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="media-body">
                <h4 class="media-heading">Media Heading</h4>
                <div class="media">
                    <div class="media-left">
                        <span class="firstMedia"></span>
                    </div>
                    <div class="media-left">
                        <span class="firstMedia"></span>
                    </div>
                    <div class="media-left">
                        <span class="firstMedia"></span>
                    </div>
                    <div class="media-left">
                        <span class="firstMedia"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="media">
            <div class="media-body">
                <h4 class="media-heading text-right">Media Heading</h4>
                <div class="media">
                    <div class="pull-right">
                        <span class="firstMedia"></span>
                    </div>
                    <div class="pull-right">
                        <span class="firstMedia"></span>
                    </div>
                    <div class="pull-right">
                        <span class="firstMedia"></span>
                    </div>
                    <div class="pull-right">
                        <span class="firstMedia"></span>
                    </div>
                </div>
            </div>
            <div class="media-right text-center userControl">
                <a href="#">
                    <img class="img-circle" src="img/badges_Android_BuildASimple_Stage3.png" width="100" height="100"/>
                </a>
                <div class="row">
                    <div class="col-xs-6"></div>
                    <div class="col-xs-4 socialIcon">
                        <a href="javascript:void(0)"
                           class="btn btn-success btn-fab pull-right">
                            <i class="material-icons">add</i>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-offset-6 col-xs-4 socialIcon">
                        <a href="javascript:void(0)"
                           class="btn btn-success btn-fab pull-right">
                            <i class="material-icons">add</i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block addscripts %}
    <script>
        $(document).ready(function () {
            $('.firstMedia').popover({
                'container': 'body',
                'content': function () {
                    var bg = $(this).css('background-image');
                    bg = bg.replace('url(', '').replace(')', '');
                    console.log(bg);
                    return '<img src=' + bg + ' />';
                },
                'html': true,
                'trigger': 'hover',
                'placement': 'bottom',
                'selector': true
            })
        });
    </script>
{% endblock %}